@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rancho&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

#quoteBox{
  width:70vw;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.quoteSection{
  width: 70vw;
  /* min-height: 20vh; */
  height: 65vh;
  position:relative;
  background-color: #012169;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  box-sizing: border-box;
  padding: 0 20px;
  color:rgb(234, 234, 255);
  /* color:linear-gradient(90deg, rgba(133,126,246,1) 0%, rgba(49,46,103,1) 24%, rgba(191,190,242,1) 47%, rgba(41,41,187,1) 73%, rgba(28,217,255,1) 96%); */
}

.quoteBlock{
  /* width:100%; */
  margin:auto;
  /* border-top:5px double rgb(50, 50, 175);
  border-bottom: 5px solid rgb(50, 50, 175); */
  
  
}

.quoteSection::before{
  width:70vw;
  /* min-height: calc(30vh + 8px); */
  height: calc(65vh + 10px);
  content:"";
  background-color:rgb(135, 106, 236);
  background-image: linear-gradient(90deg, rgba(133,126,246,1) 0%, rgba(49,46,103,1) 24%, rgba(191,190,242,1) 47%, rgba(41,41,187,1) 73%, rgba(28,217,255,1) 96%);
  position: absolute;
  display:block;
  z-index: -50;
  
}

#author{
  font-family: 'Lato', sans-serif;
  text-align: right;
  font-style: italic;
  font-size: larger;
  font-size:calc(700vw / 375);
}

#text{
  font-family:  'Handlee', cursive;
  text-align: center;
  text-shadow: #0434a3;
  font-size:calc(900vw / 375);
}

.nextBtn{
  width:fit-content;
  display: inline-block;
  border:none;
  padding: 10px;
  background-color: rgba(41,41,187,1);
  color:white;
  border-radius:5px;
}

a{
  display: inline-block;
}

.shareSection{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin:20px;
}

.twitLogo{
  color:rgba(41,41,187,1);
}